{% extends "layout.html" %}
{% block content %}
    <!-- Blog post template. Each post is written in markdown and placed as a separate file in
         static/assets/posts. Happy blogging! -->
     <script src="static/js/toggle.js"></script>
    {% for post in blog_posts %}
    <section id="blog">
        <div class="container">
            <div class="box first">
                <h3>
                    <a href="#" id="blog-title" onclick="toggle('blog-post-text')">
                        <b>{{post.date}} - {{ post.title }}</b>
                    </a>
                </h3>
                <div id="blog-post-text" style="display:none">
                    <hr>
                        {{ post.text | markdown }}
                </div>
            </div>
        </div>
    </section>
    {% endfor %}
{% endblock %}
